[Unit]
Description=httpuv on port %i
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
Environment="HTTPUV_PORT=%i"
EnvironmentFile=/etc/httpuv.env
WorkingDirectory=/var/www/vbr/api
ExecStart=/usr/bin/Rscript handler.r
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
