[Unit]
Description=Plumber API on port %i
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
Environment="PLUMBER_PORT=%i"
WorkingDirectory=/var/www/vbr/api
ExecStart=/usr/bin/Rscript handler.r
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
